

.calculator {
  border-radius: 14px;
  overflow: hidden;
  border: 1px solid gray;
  padding: 20px;

}

.numbers {
  font-size: 36px;
  border: none;
  display: flex;
  justify-content: space-between;
}

.screen {
  background-color: #eee;
  display: flex;
  width: 100%;
  color: black;
  padding: 10px;
  text-align: right;
}


.numbers button {
  font-size: 24px;
  background-color: grey;
  border: none;
}

.numbers button:hover {
  background-color: #fff;
  color: black;
}

.operators {
  background-color: orange;
  display: flex;
  justify-content: space-between;
}

.operators button {
  background-color: orange;
  border: none;
  font-size: 22px;
}

.operators button:hover {
  background-color: #fff;
  color: black;
}

.operatorstwo {
  display: flex;
  justify-content: space-between;
  background-color: grey;
}

.operatorstwo button {
  border: none;
  font-size: 24px;
  background-color: grey;
}
.operatorstwo button:hover {
  background-color: #fff;
  color: black;
}

.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}


